<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAC7LDoM1owmUzuDy0v9kzUBTsD2SUe23eQJWOpzD6T6CTR-38LhTBzQ48ZMrT3aAo1yLV_A_WfGpIMQ"
      type="text/javascript"></script>
	<script type="text/javascript">
	var markers = [
	<%= @volunteers.select{|v| v.lat && v.lng}.collect{|v|
	"{'lat': '#{v.lat}', 'lng': '#{v.lng}', 'name': '#{html_info(v)}'}"
	}.join(',') %>
	]
	</script>
	<%= javascript_include_tag 'gmaps' %>

  </head>
  <body>
    <div id="map" style="width:500px;height:300px"></div>
  </body>
</html>